<div ng-include src = "'../views/header.html'"></div>
<div class="table-container">
  <h2 class="text-center">Users</h2>
  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Role</th>
          <th colspan="2" ng-show = "loggedInRole=='Master'||loggedInRole=='Admin'">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "user in users">
          <td ng-click="viewUser(user.id)">{{user.user_name}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.second_name}}</td>
          <td>{{user.role}}</td>
          <td ng-show = "loggedInRole=='master'||loggedInRole=='Admin'">
            <div class="button-wrapper clearfix">
              <button class="pull-left btn btn-default btn-primary text-left" ng-click="updateUser(user.id)">Update</button>
            </div>
          </td>
          <td ng-show = "loggedInRole=='master'">
            <div class="button-wrapper clearfix">
              <button class="pull-left btn btn-default btn-primary text-left" ng-click="deleteUser(user.id)">Delete</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="col-lg-4 col-md-4">
            <div class="button-wrapper clearfix" ng-show = "loggedInRole=='master'||loggedInRole=='Master'||loggedInRole=='Admin'||loggedInRole=='admin'">
              <button class="pull-right btn btn-default btn-primary text-left" ng-click="addUser()">+ Add new user</button>
            </div>
          </div>
          <div class="col-lg-4 col-md-4" ng-show = "loggedInRole=='Agency'||loggedInRole=='agency'">
            <div class="button-wrapper clearfix">
              <button class="pull-right btn btn-default btn-primary text-left" ng-click="addProfile()">+ Add new profile</button>
            </div>
          </div>
          <div class="col-lg-4 col-md-4" ng-show = "loggedInRole=='Agency'||loggedInRole=='Autheriser'">
            <div class="button-wrapper clearfix">
              <button class="pull-right btn btn-default btn-primary text-left" ng-click="listProfile()">View Profiles</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
